*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header{
    width: 100vw;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 13, 13);
   
}
h1{
    color: blanchedalmond;
}
.Play{
    background-color: rgb(82, 2, 2);
    color: white;
    margin-left: 20em;
    width: 10em;
    height: 2em;
    border-radius: 0.5em;
}
.stop{
    background-color: rgb(82, 2, 2);
    color: white;
    margin-right: 20em;
    height: 2em;
    width: 10em;
    border-radius: 0.5em;
}
/*Esta es la pantalla principal ocupa toda la pantalla.*/
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
/*esta es la pantalla de los jugadores dentro hay 2 bloques de jugagores*/
.pantallaJugadores{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 /* pantalla del primer blque de 4 jugadores*/

.PrimerosCuatroJugadores{
    
    display: flex;
    flex-direction: row;

}

.Fighters{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: rgb(255, 72, 0) 0.5em solid;
}
.imagenFighters{
    width:8em ;
    height:8em;
    border-radius: 50%;
}
.RestoDeJugadores{
    
    display: flex;
    flex-direction: row;
}

/* Pantalla inferior dentro estan los jugadores seleccionados */
.pantallaSeleccion{
width: 100vw;
height: 50vh;
/*border: blanchedalmond dashed 0.2em;*/
background-color: black;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
justify-content: space-evenly;
}
.panelElegidos{
    width: 13em;
    height: 15em;
    border:rgb(245, 13, 13) solid 0.2em;

}
.vs{
    width: 15em;
    height: 8em;
    border: red solid 1em;
}
.versus{
    width: 15em;
    height: 15em;
}





